# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# =========================
# Virtual Environment
# =========================
venv/
.env
.env.*
pip-wheel-metadata/

# =========================
# Django
# =========================
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Django migrations cache
**/migrations/__pycache__/

# =========================
# Django REST / Swagger
# =========================
schema.yml
schema.json

# =========================
# IDEs & Editors
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Test & Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Build / Packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# Node (if React later)
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Secrets
# =========================
*.pem
*.key
